<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ziwenwen.onekeychat"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListActivity"
                  android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <!-- <action android:name="android.intent.action.CREATE_SHORTCUT" /> -->
            </intent-filter>
        </activity>
        <activity android:name=".EditTaskActivity"/>
        <activity
        android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
        android:exported="true"
        android:theme="@style/AppTheme.NoTitle"
        android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/AppTheme.NoTitle"
            android:screenOrientation="portrait" />

        <service
            android:name=".MyAccessibility"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":accessibility">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility"/>
        </service>
        <service android:name=".widget.GridWidgetService"
                 android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver android:name=".widget.OneAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/one_app_widget_info"/>
        </receiver>
    </application>

</manifest>